<%= form_with url: user_path(user), method: :get do |f| %>
  <%= f.date_field :created_at %>
  <%= f.submit '検索', class: 'btn btn-primary'  %>
<% end %>

<div id="search_index">
  <% if @search_book.present? %>
    <h4>検索結果</h4>
  <table class='table table-bordered'>
    <thead>
      <tr>
        <th>投稿数</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @search_book %></td>
      </tr>
    </tbody>
  </table>
  <% end %>
</div>